.Applist-wrapper {
  margin: 60px;
}

.Applist-header {
  height: 70px;
  text-align: center;
}

.Applist-content {
  height: 450px;
  overflow: scroll;
}

.Applist-title {
  font-size: 1.2em;
  font-weight: bold;
}
